# Logistic Regression Demo

## Init

First, we load our libraries.  This makes use of the R `plotROC` package; it is available in Conda with

    conda install -c mdekstrand r-plotroc

In [1]:
library(tidyverse)
library(modelr)
library(plotROC)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

In [2]:
options(repr.plot.height=4.5, repr.matrix.max.rows=10)

And we want to load the data. Fun trick, `readr` can read URLs!

In [3]:
students = read_csv("https://stats.idre.ucla.edu/stat/data/binary.csv")
students

Parsed with column specification:
cols(
  admit = col_integer(),
  gre = col_integer(),
  gpa = col_double(),
  rank = col_integer()
)

    admit gre gpa  rank
1   0     380 3.61 3
2   1     660 3.67 3
3   1     800 4.00 1
4   1     640 3.19 4
5   0     520 2.93 4
... ...   ... ...  ...
396 0     620 4.00 2
397 0     560 3.04 3
398 0     460 2.63 2
399 0     700 3.65 2
400 0     600 3.89 3